<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bird Sightings</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.0/ekko-lightbox.min.js"
            integrity="sha512-A91aOxAVV3f8rcTRk/X47XReRLOKD0gfRQVqmSS0M/ExMbdSCh95TPo4sY7thVoJuMCfd/u2+WkhJydNUB3lUQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/19ddb4ff30.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/detail.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.0/ekko-lightbox.min.css"
          integrity="sha512-vC3vvXGPI9bplTilrP7d0YKtmHrMAH4q9dF6QSfIL/uOFIMsHu2wkmAITtFRkNisTKt1e4EAhIiXpyXJgiJW4Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="manifest" href="/manifest.json">
    <!-- jQThumb --><!DOCTYPE html>
    <html>

    <!-- jQThumb -->
    <script type="text/javascript" src="/public/javascripts/jqthumb.js"></script>
    <script>
        function DrawImage(hotimg) {
            $(hotimg).jqthumb({
                classname: 'jqthumb',
                width: '100%', // Width
                height: '500px', // Height
                // position       : { y: '50%', x: '50%'}, // Generate thumbnail starting from the center of the image
                zoom: '1', // Zoom ratio
                method: 'auto', // Submission method, for different browser environments, default is 'auto'
            });
        }

        function upload() {
            window.location.href = '/upload';
        }
    </script>
    <style>
        /* Style for the overall chat container */
        .chat-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for the chat box container */
        .chat-box {
            max-height: 300px;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            margin-bottom: 20px;
        }

        /* Style for the chat messages */
        .chat-message {
            margin-bottom: 10px;
        }

        .chat-message .username {
            font-weight: bold;
            color: #333;
        }

        .chat-message .message-content {
            margin-left: 10px;
        }

        /* Style for the online user list container */
        .user-list-container {
            max-height: 200px;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            margin-bottom: 20px;
        }

        .user-list-container h3 {
            margin-bottom: 10px;
        }

        .user-list-item {
            margin-bottom: 5px;
        }

        .user-list-item .username {
            font-weight: bold;
            color: #333;
        }

        /* Style for the chat input form */
        #chat-form {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        #username-input,
        #message-input {
            padding: 8px;
            border: none;
            border-radius: 10px;
            background-color: #f2f2f2;
            font-size: 14px;
            flex: 1;
        }

        #message-input {
            margin-right: 10px;
        }

        #chatbutton {
            padding: 10px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        #chatbutton:hover {
            background-color: #0056b3;
        }
    </style>
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style='background-color: #c5f1bb;'>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <style>
                .navbar-nav li a {
                    font-size: 18px; /* replace 16px with the desired font size */
                }
            </style>
            <style>
                .navbar-brand {
                    margin-top: 3px; /* replace -10px with the desired margin */
                }
            </style>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success my-3" onclick="upload()">
                        <i class="fas fa-upload"></i> Upload</button>
                </div>
            </div>
        </div>
    </header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card mb-3">
                    <a \\ data-toggle="lightbox">
                        <img  src='' id="lightbox-image" class="card-img-top" alt="..." onload="DrawImage(this)">
                    </a>
                </div>
            </div>



            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div style="width: 100%;float: right;padding-right: 5%">
                            <p id="sighting-location"></p>
                            <div style="height: 200px;width: 100%" id="map"></div>
                            <script>
                                $.ajax({
                                    type: 'GET',
                                    url: 'http://localhost:3000/sighting-location/<%= sightingId %>',
                                    success(res){
                                        console.log(res)
                                        window.initMap(res.longitude,res.latitude)
                                    },
                                    error(error){
                                        alert('error:'+error)
                                    }
                                })
                                function initMap(longitude, latitude) {
                                    // The location of Uluru
                                    const uluru = { lat: latitude, lng: longitude };
                                    // The map, centered at Uluru
                                    const map = new google.maps.Map(document.getElementById("map"), {
                                        zoom: 12,
                                        center: uluru,
                                    });
                                    // The marker, positioned at Uluru
                                    const marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map,
                                    });
                                }

                            </script>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sighting Information</h5>
                        <hr style="border-top: 1px solid #000; width: 100%;" class="mb-4">

                        <label for="sighting-identification"><strong>Identification:</strong></label>
                        <form action="/update-id" method="post" onsubmit="return handSubmit(event)">
                            <textarea class="form-control" id="sighting-identification" name="sighting-identification" rows="1"></textarea>

                            <textarea class="form-control" id="sighting-id" name="sighting-id" rows="1" hidden></textarea>
                            <button type="submit" class="btn btn-success btn-block mt-4"><i class="far fa-comment"></i> Modify identification</button>
                        </form>
                        <div style="width: 100%; height: 300px; overflow-y: auto;">
                            <p class="card-text" id="scientific-name"><strong>Common name/scientific name:</strong> <%= birdname %></p>
                            <p class="card-text" id="abstracts"><strong>Abstracts:</strong> <%= abstracts %></p>
                            <p class="card-text" id="link"><strong>DBPedia Link:</strong> <a href=<%= link %>><%= link; %></a></p>
                        </div>
                        <p class="card-text" id="sighting-description"><strong>Description:</strong></p>
                        <p class="card-text" id="Date Seen"><strong>Date Seen:</strong>  </p>
                        <div class="chat-container">
                            <div class="chat-box">
                                <ul id="chat-messages" class="chat-messages"></ul>
                            </div>

                            <form id="chat-form">
                                <input type="text" id="message-input" placeholder="Message" />
                                <button type="submit">Send</button>
                            </form>
                        </div>

                        <script src="/socket.io/socket.io.js"></script>
                        <script>
                            // Connect to the server
                            const socket = io();

                            // Handle chat message form submission
                            const form = document.getElementById('chat-form');
                            const messages=document.getElementById('chat-messages');
                            form.addEventListener('submit', (e) => {
                                e.preventDefault();
                               // const usernameInput = document.getElementById('username-input');
                                const messageInput = document.getElementById('message-input');
                                //const username = usernameInput.value;
                                const message = messageInput.value;
                                messageInput.value = '';

                                // Send the username and message to the server
                                socket.emit('chat message', { message });
                            });


                            // Handle received chat messages
                            socket.on('chat message', (data) => {
                                const { message, recipient } = data;
                                const li = document.createElement('li');

                                if (recipient) {
                                    // Private message
                                    li.textContent = `(Private) ${username} to ${recipient}: ${message}`;
                                } else {
                                    // Public message
                                    li.textContent = `${message}`;
                                }

                                messages.appendChild(li);
                            });

                        </script>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4yedOkmJJv19wwjVf2aRCV-Z2byy4CTk&language=en&callback=initMap&v=weekly&libraries=places"
            defer
    ></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>


</body>
</html>